In [1]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ================================

# Each user is responsible for checking the content of datasets and the
# applicable licenses and determining if suitable for the intended use.

<img src="https://developer.download.nvidia.com/notebooks/dlsw-notebooks/merlin_merlin_01-building-recommender-systems-with-merlin/nvidia_logo.png" style="width: 90px; float: right;"> 

## Building Intelligent Recommender Systems with Merlin integrated with Milvus

This notebook is created using the latest stable [merlin-tensorflow](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-tensorflow/tags) container.

### Overview

Recommender Systems (RecSys) are the engine of the modern internet and the catalyst for human decisions. Building a recommendation system is challenging because it requires multiple stages (data preprocessing, offline training, item retrieval, filtering, ranking, ordering, etc.) to work together seamlessly and efficiently. The biggest challenges for new practitioners are the lack of understanding around what RecSys look like in the real world, and the gap between examples of simple models and a production-ready end-to-end recommender systems.

The figure below represents a four-stage recommender system. This is a more complex process than only training a single model and deploying it, and it is much more realistic and closer to what's happening in the real-world recommender production systems.

![fourstage](../images/fourstages.png)

In this notebook and the next, we are going to showcase how we can develop and train a four-stage recommender system integrated with Milvus vector database indexing and querying framework (for approximate nearest neighbor-ANN search), and deploy it easily on [Triton Inference Server](https://github.com/triton-inference-server/server) using Merlin Systems library. Let's go over the concepts in the figure briefly. 
- **Retrieval:** This is the step to narrow down millions of items into thousands of candidates. We are going to train a Two-Tower item retrieval model to retrieve the relevant top-K candidate items.
- **Filtering:** This step is to exclude the already interacted  or undesirable items from the candidate items set or to apply business logic rules. Although this is an important step, for this example we skip this step.
- **Scoring:** This is also known as ranking. Here the retrieved and filtered candidate items are being scored. We are going to train a ranking model to be able to use at our scoring step. 
- **Ordering:** At this stage, we can order the final set of items that we want to recommend to the user. Here, weâ€™re able to align the output of the model with business needs, constraints, or criteria.

To learn more about the four-stage recommender systems, you can listen to Even Oldridge's [Moving Beyond Recommender Models talk](https://www.youtube.com/watch?v=5qjiY-kLwFY&list=PL65MqKWg6XcrdN4TJV0K1PdLhF_Uq-b43&index=7) at KDD'21 and read more [in this blog post](https://eugeneyan.com/writing/system-design-for-discovery/).

### Learning objectives
- Understanding four stages of recommender systems (this notebook)
- Training retrieval and ranking models with Merlin Models (this notebook)
- Setting up a feature store library (this notebook)
- Exporting user and item embeddings to be used in retrieving recommendation candidates (this notebook)
- Setting up Milvus as an approximate nearest neighbours (ANN) search library (second notebook)
- Deploying trained models to Triton Inference Server with Merlin Systems (second notebook)

In addition to NVIDIA Merlin libraries and the Triton Inference Server client library, we use two external libraries in these series of examples:

- [Feast](https://docs.feast.dev/): an end-to-end open source feature store library for machine learning
- [Milvus](https://github.com/matrixji/python-milvus-server): a library for efficient similarity search and clustering of dense vectors

You can find more information about `Feast feature store` and `Milvus` libraries in the next notebook.

### Import required libraries and functions

**Compatibility:**

This notebook is developed and tested using the latest `merlin-tensorflow` container from the NVIDIA NGC catalog. To find the tag for the most recently-released container, refer to the [Merlin TensorFlow](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-tensorflow) page.

In [ ]:
# for running this example, install the following version of the Feast library
%pip install "feast==0.18.1"

# for running this example on CPU, uncomment the following lines
# %pip install tensorflow-cpu "feast==0.18.1"
# %pip uninstall cudf

# The second notebook will use Milvus server and pymilvus, which can be installed as follows:
%pip install milvus
%pip install pymilvus

Next, import other required libraries:

In [3]:
import os

# for running this example on CPU, comment out the line below
os.environ["TF_GPU_ALLOCATOR"] = "cuda_malloc_async"

import nvtabular as nvt
from nvtabular.ops import Rename, Filter, Dropna, LambdaOp, Categorify, \
    TagAsUserFeatures, TagAsUserID, TagAsItemFeatures, TagAsItemID, AddMetadata

from merlin.schema.tags import Tags

import merlin.models.tf as mm
from merlin.io.dataset import Dataset
from merlin.datasets.ecommerce import transform_aliccp
import tensorflow as tf

2023-06-07 17:03:43.049193: I tensorflow/core/platform/cpu_feature_guard.cc:194] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE3 SSE4.1 SSE4.2 AVX
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
/usr/local/lib/python3.8/dist-packages/merlin/dtypes/mappings/torch.py:43: UserWarning: PyTorch dtype mappings did not load successfully due to an error: No module named 'torch'
  warn(f"PyTorch dtype mappings did not load successfully due to an error: {exc.msg}")

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.
[INFO]: sparse_operation_kit is imported
WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.base has been moved to tensorflow.python.trackable.base. The old module will be deleted in version 2.11.
[SOK INFO] Import /usr/local/lib/python3.8/dist-packages/merlin_sok-1.1.4-py3.8-linux-x86_64.egg/sparse_operation_kit/lib/libsok_experiment.so
[SOK INFO] Import /usr/local/lib/python3.8/dist-packages/merlin_sok-1.1.4-py3.8-linux-x86_64.egg/sparse_operation_kit/lib/libsok_experiment.so

2023-06-07 17:03:51.632816: I tensorflow/core/platform/cpu_feature_guard.cc:194] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE3 SSE4.1 SSE4.2 AVX
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-07 17:03:51.898462: W tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:42] Overriding orig_value setting because the TF_FORCE_GPU_ALLOW_GROWTH environment variable is set. Original config value was 0.
2023-06-07 17:03:51.898518: I tensorflow/core/common_runtime/gpu/gpu_process_state.cc:222] Using CUDA malloc Async allocator for GPU: 0
2023-06-07 17:03:51.898735: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1621] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 16384 MB memory:  -> device: 0, name: Tesla V100-SXM2-32GB-LS, pci bus id: 0000:86:00.0, compute capability: 7.0
/usr/local/lib/python3.8/dist-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[SOK INFO] Initialize finished, communication tool: horovod

In [4]:
# disable INFO and DEBUG logging everywhere
import logging

logging.disable(logging.WARNING)

In this example notebook, we will use the YooChoose dataset that is publicly available [here](https://www.kaggle.com/datasets/chadgostopp/recsys-challenge-2015). Due to licensing rules, you must download the file `yoochoose-clicks.dat` yourself and save it in your local folder. Then set your `DATA_FOLDER` in the next cell to point to this folder. Once you have the original dataset processed (in the next few cells), you can export it to the same folder with the name `yoochoose-clicks-milvus.dat` for future executions of this notebook (to avoid re-building the modified dataset).

Also define the `BASE_DIR` path as your feature store repo path.

In [5]:
# set up the data folder that contains the yoochoose data
DATA_FOLDER = os.environ.get("DATA_FOLDER", "/workspace/data/")
# set up the base dir for feature store
BASE_DIR = os.environ.get("BASE_DIR", "/workspace/data/fstore_milvus/")

Next, we read the YooChoose data from its previously downloaded location and do the following:
- rename `session_id` as `user_id` and `category` as `item_category`
- add two new columns `user_age` and `click`, and initialize the first one with random values and second with value 1

If the cell below was previously executed and the modified version of the YoocCoose dataset was exported to a parquet file, it will simply load the dataset from the exported parquet file (`yoochoose-clicks-milvus.dat`).

In [6]:
import cudf
import random
import pandas as pd

data_file = os.path.join(DATA_FOLDER, "yoochoose-clicks-milvus.dat")
if os.path.exists(data_file):
    gdf = cudf.read_parquet(data_file)
else:
    DATA_PATH = os.path.join(DATA_FOLDER, 'yoochoose-clicks.dat')
    OVERWRITE = False
    gdf = cudf.read_csv(DATA_PATH, sep=',', names=['session_id','timestamp', 'item_id', 'category'], dtype=['int', 'datetime64[s]', 'int', 'int'])

    # rename two existing columns, and drop unnecessary columns
    gdf.rename(columns={"session_id": "user_id", "category": "item_category"}, inplace=True)

    # add two new columns and initialize with random values
    import random
    random.seed(5)

    # get unique user_id's to assign a random age to each user
    gdf2 = gdf.drop_duplicates(subset=['user_id'])
    gdf2.drop(labels=["timestamp","item_id","item_category"], axis=1, inplace=True)
    rr = [random.randint(18,75) for _ in range(gdf2.shape[0])]
    gdf2["user_age"] = rr
    gdf = gdf.merge(gdf2, on=['user_id'], how='left')
    del(gdf2)
    del(rr)

    # add "click" as a target field and initialize it value 1
    # all yoochoose rows are positive samples, but a target column is needed in the workflow below
    gdf["click"] = 1
    
    # write to parquet file
    gdf.to_parquet(data_file)
    
print(gdf.head())
print("Number of unique users: ", gdf.user_id.nunique())
print("Number of unique items: ", gdf.item_id.nunique())

   user_id           timestamp    item_id  item_category  user_age  click
0     5671 2014-04-01 09:57:29  214820413              0        50      1
1     5671 2014-04-01 10:12:34  214820383              0        50      1
2     5669 2014-04-05 12:25:01  214832760              0        37      1
3     5669 2014-04-05 12:25:27  214832760              0        37      1
4     5669 2014-04-05 12:32:25  214697825              0        37      1
Number of unique users:  9249729
Number of unique items:  52739

Next, sort the user interactions by timestamp, and split the resulting dataset as 80-20 train-validation sets by time.

In [7]:
gdf = gdf.sort_values("timestamp")
nsize = int(gdf.shape[0]*0.8)        # 80-20 split (top 80% is train, bottom 20% is validation
train_raw = Dataset(gdf[:nsize][:])
valid_raw = Dataset(gdf[nsize:][:])
del(gdf)

In [8]:
df = train_raw.compute()
print(df.user_id.nunique(), df.item_id.nunique())
del(df)

7305761 49008

In [9]:
import gc
gc.collect()

165

### Feature Engineering with NVTabular

In [10]:
output_path = os.path.join(DATA_FOLDER, "processed_nvt")

In the following NVTabular workflow, notice that we apply the `Dropna()` Operator at the end. We add the Operator to remove rows with missing values in the final DataFrame after the preceding transformations. Although, the dataset that we use in this notebook does not have null entries, you might have null entries in your `user_id` and `item_id` columns in your own custom dataset. Therefore, while applying `Dropna()` we will not be registering null `user_id_raw` and `item_id_raw` values in the feature store, and will be avoiding potential issues that can occur because of any null entries.

In [11]:
user_id_raw = ["user_id"] >> Rename(postfix='_raw') >> LambdaOp(lambda col: col.astype("int32")) >> TagAsUserFeatures()
item_id_raw = ["item_id"] >> Rename(postfix='_raw') >> LambdaOp(lambda col: col.astype("int32")) >> TagAsItemFeatures()

user_id = ["user_id"] >> Categorify(dtype="int32") >> TagAsUserID()
item_id = ["item_id"] >> Categorify(dtype="int32") >> TagAsItemID()

item_features = (
    ["item_category"] >> Categorify(dtype="int32") >> TagAsItemFeatures()
)

user_features = (
    ["user_age"] >> Categorify(dtype="int32") >> TagAsUserFeatures()
)

targets = ["click"] >> AddMetadata(tags=[Tags.BINARY_CLASSIFICATION, "target"])

outputs = user_id + item_id + item_features + user_features + user_id_raw + item_id_raw + targets

# add dropna op to filter rows with nulls
outputs = outputs >> Dropna()

Next we will perform `fit` and `transform` steps on the raw dataset applying the operators defined in the NVTabular workflow pipeline below, and also save our workflow model. After fit and transform, the processed parquet files are saved to output_path.

In [12]:
# Generate statistics for the features and export parquet files
# this step will generate the schema file
workflow = nvt.Workflow(outputs)
workflow.fit_transform(train_raw).to_parquet(os.path.join(output_path, "train"))
workflow.transform(valid_raw).to_parquet(os.path.join(output_path, "valid"))

### Training a Retrieval Model with Two-Tower Model

We start with the offline candidate retrieval stage. We are going to train a Two-Tower model for item retrieval. To learn more about the Two-tower model you can visit [05-Retrieval-Model.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/05-Retrieval-Model.ipynb).

#### Feature Engineering with NVTabular

We are going to process our raw categorical features by encoding them using `Categorify()` operator and tag the features with `user` or `item` tags in the schema file. To learn more about [NVTabular](https://github.com/NVIDIA-Merlin/NVTabular) and the schema object visit this example [notebook](https://github.com/NVIDIA-Merlin/models/blob/main/examples/02-Merlin-Models-and-NVTabular-integration.ipynb) in the Merlin Models repo.

Define a new output path to store the filtered datasets and schema files.

In [13]:
output_path2 = os.path.join(DATA_FOLDER, "processed/retrieval")

In [14]:
train_tt = Dataset(os.path.join(output_path, "train", "*.parquet"))
valid_tt = Dataset(os.path.join(output_path, "valid", "*.parquet"))

We select only positive interaction rows where `click==1` in the dataset with `Filter()` operator.

In [15]:
inputs = train_tt.schema.column_names
outputs = inputs >> Filter(f=lambda df: df["click"] == 1)

workflow2 = nvt.Workflow(outputs)

workflow2.fit(train_tt)

workflow2.transform(train_tt).to_parquet(
    output_path=os.path.join(output_path2, "train")
)

workflow2.transform(valid_tt).to_parquet(
    output_path=os.path.join(output_path2, "valid")
)

NVTabular exported the schema file, `schema.pbtxt` a protobuf text file, of our processed dataset. To learn more about the schema object and schema file you can explore [02-Merlin-Models-and-NVTabular-integration.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/02-Merlin-Models-and-NVTabular-integration.ipynb) notebook.

**Read filtered parquet files as Dataset objects.**

In [16]:
train_tt = Dataset(os.path.join(output_path2, "train", "*.parquet"), part_size="500MB")
valid_tt = Dataset(os.path.join(output_path2, "valid", "*.parquet"), part_size="500MB")

In [17]:
schema = train_tt.schema.select_by_tag([Tags.ITEM_ID, Tags.USER_ID, Tags.ITEM, Tags.USER]).without(['user_id_raw', 'item_id_raw', 'click'])
train_tt.schema = schema
valid_tt.schema = schema

In [18]:
model_tt = mm.TwoTowerModel(
    schema,
    query_tower=mm.MLPBlock([128, 64], no_activation_last_layer=True),
    samplers=[mm.InBatchSampler()],
    embedding_options=mm.EmbeddingOptions(infer_embedding_sizes=True),
)

In [19]:
model_tt.compile(
    optimizer="adam",
    run_eagerly=False,
    loss="categorical_crossentropy",
    metrics=[mm.RecallAt(10), mm.NDCGAt(10)],
)
model_tt.fit(train_tt, validation_data=valid_tt, batch_size=1024, epochs=1)

/usr/local/lib/python3.8/dist-packages/keras/initializers/initializers_v2.py:120: UserWarning: The initializer TruncatedNormal is unseeded and being called multiple times, which will return identical values  each time (even if the initializer is unseeded). Please update your code to provide a seed to the initializer, or avoid using the same initalizer instance more than once.
  warnings.warn(

25785/25785 [==============================] - 5067s 196ms/step - loss: 5.6488 - recall_at_10: 0.1669 - ndcg_at_10: 0.1032 - regularization_loss: 0.0000e+00 - loss_batch: 5.6488 - val_loss: 7.4678 - val_recall_at_10: 0.0100 - val_ndcg_at_10: 0.0046 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 4.7800

### Exporting query (user) model

We export the query tower to use it later during the model deployment stage with Merlin Systems.

In [20]:
query_tower = model_tt.retrieval_block.query_block()
query_tower.save(os.path.join(BASE_DIR, "query_tower"))

### Training a Ranking Model with DLRM

Now we will move onto training an offline ranking model. This ranking model will be used for scoring our retrieved items.

Read processed parquet files. We use the `schema` object to define our model.

In [21]:
# define train and valid dataset objects
train = Dataset(os.path.join(output_path, "train", "*.parquet"), part_size="500MB")
valid = Dataset(os.path.join(output_path, "valid", "*.parquet"), part_size="500MB")

# define schema object
schema = train.schema.without(['user_id_raw', 'item_id_raw'])

In [22]:
target_column = schema.select_by_tag(Tags.TARGET).column_names[0]
target_column

'click'

Deep Learning Recommendation Model [(DLRM)](https://arxiv.org/abs/1906.00091) architecture is a popular neural network model originally proposed by Facebook in 2019. The model was introduced as a personalization deep learning model that uses embeddings to process sparse features that represent categorical data and a multilayer perceptron (MLP) to process dense features, then interacts these features explicitly using the statistical techniques proposed in [here](https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5694074). To learn more about DLRM architetcture please visit `Exploring-different-models` [notebook](https://github.com/NVIDIA-Merlin/models/blob/main/examples/04-Exporting-ranking-models.ipynb) in the Merlin Models GH repo.

In [23]:
model = mm.DLRMModel(
    schema,
    embedding_dim=64,
    bottom_block=mm.MLPBlock([128, 64]),
    top_block=mm.MLPBlock([128, 64, 32]),
    prediction_tasks=mm.BinaryClassificationTask(target_column),
)

In [24]:
model.compile(optimizer="adam", run_eagerly=False, metrics=[tf.keras.metrics.AUC()])
model.fit(train, validation_data=valid, batch_size=1024)

25785/25785 [==============================] - 3964s 154ms/step - loss: 6.0474e-04 - auc: 0.0000e+00 - regularization_loss: 0.0000e+00 - loss_batch: 6.0472e-04 - val_loss: 7.6717e-12 - val_auc: 0.0000e+00 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 3.7858e-12

Let's save our DLRM model to be able to load back at the deployment stage.

In [ ]:
model.save(os.path.join(BASE_DIR, "dlrm"))

In the following cells we are going to export the required user and item features files, and save the query (user) tower model and item embeddings to disk. If you want to read more about exporting retrieval models, please visit [05-Retrieval-Model.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/05-Retrieval-Model.ipynb) notebook in Merlin Models library repo.

### Set up a feature store with Feast

Before we move onto the next step, we need to create a Feast feature repository. [Feast](https://feast.dev/) is an end-to-end open source feature store for machine learning. Feast (Feature Store) is a customizable operational data system that re-uses existing infrastructure to manage and serve machine learning features to real-time models.

We will create the feature repo in the current working directory, which is `BASE_DIR` for us.

In [26]:
!rm -rf $BASE_DIR/feature_repo
!cd $BASE_DIR && feast init feature_repo

Feast is an open source project that collects anonymized error reporting and usage statistics. To opt out or learn more see https://docs.feast.dev/reference/usage
/usr/local/lib/python3.8/dist-packages/feast/driver_test_data.py:100: FutureWarning: Argument `closed` is deprecated in favor of `inclusive`.
  for dt in pd.date_range(

Creating a new Feast repository in /workspace/data/fstore_milvus/feature_repo.

You should be seeing a message like <i>Creating a new Feast repository in ... </i> printed out above. Now, navigate to the `feature_repo` folder and remove the demo parquet file created by default, and `examples.py` file.

In [27]:
feature_repo_path = os.path.join(BASE_DIR, "feature_repo")
if os.path.exists(f"{feature_repo_path}/example.py"):
    os.remove(f"{feature_repo_path}/example.py")
if os.path.exists(f"{feature_repo_path}/data/driver_stats.parquet"):
    os.remove(f"{feature_repo_path}/data/driver_stats.parquet")

### Exporting user and item features

In [28]:
from merlin.models.utils.dataset import unique_rows_by_features

user_features = (
    unique_rows_by_features(train, Tags.USER, Tags.USER_ID)
    .compute()
    .reset_index(drop=True)
)

In [29]:
user_features.head()

   user_id  user_age  user_id_raw
0        1        40       189448
1        2         5       515537
2        3        21       825463
3        4         6       881789
4        5         9      1026667

We will artificially add `datetime` and `created` timestamp columns to our user_features dataframe. This required by Feast to track the user-item features and their creation time and to determine which version to use when we query Feast.

In [30]:
from datetime import datetime

user_features["datetime"] = datetime.now()
user_features["datetime"] = user_features["datetime"].astype("datetime64[ns]")
user_features["created"] = datetime.now()
user_features["created"] = user_features["created"].astype("datetime64[ns]")

In [31]:
user_features.head()

,user_id,user_age,user_id_raw,datetime,created
0,1,40,189448,2023-06-07 19:39:30.034443,2023-06-07 19:39:30.039204
1,2,5,515537,2023-06-07 19:39:30.034443,2023-06-07 19:39:30.039204
2,3,21,825463,2023-06-07 19:39:30.034443,2023-06-07 19:39:30.039204
3,4,6,881789,2023-06-07 19:39:30.034443,2023-06-07 19:39:30.039204
4,5,9,1026667,2023-06-07 19:39:30.034443,2023-06-07 19:39:30.039204

In [32]:
user_features.to_parquet(
    os.path.join(BASE_DIR, "feature_repo/data", "user_features.parquet")
)

In [33]:
item_features = (
    unique_rows_by_features(train, Tags.ITEM, Tags.ITEM_ID)
    .compute()
    .reset_index(drop=True)
)

In [34]:
item_features["datetime"] = datetime.now()
item_features["datetime"] = item_features["datetime"].astype("datetime64[ns]")
item_features["created"] = datetime.now()
item_features["created"] = item_features["created"].astype("datetime64[ns]")

In [35]:
item_features.head()

,item_id,item_category,item_id_raw,datetime,created
0,1,1,643078800,2023-06-07 19:39:33.479549,2023-06-07 19:39:33.481632
1,2,1,214829878,2023-06-07 19:39:33.479549,2023-06-07 19:39:33.481632
2,3,1,214826610,2023-06-07 19:39:33.479549,2023-06-07 19:39:33.481632
3,4,1,214834880,2023-06-07 19:39:33.479549,2023-06-07 19:39:33.481632
4,5,1,214839973,2023-06-07 19:39:33.479549,2023-06-07 19:39:33.481632

In [36]:
# save to disk
item_features.to_parquet(
    os.path.join(BASE_DIR, "feature_repo/data", "item_features.parquet")
)

### Extract and save Item embeddings

We are now ready to export item and user embeddings for the ANN (approximate nearest neighbor) search stage with the Milvus library.

In [37]:
item_embs = model_tt.item_embeddings(
    Dataset(item_features, schema=schema), batch_size=1024
)
item_embs_df = item_embs.compute(scheduler="synchronous")

In [38]:
item_embs_df.head()

,item_id,item_category,0,1,2,3,4,5,6,7,...,54,55,56,57,58,59,60,61,62,63
0,1,1,2.121572,2.024750,1.597702,0.788839,2.076575,1.774189,0.756137,-0.362359,...,0.110354,-3.473590,-1.819355,-0.843890,-0.845419,3.170031,-0.963150,0.048351,-0.326054,-1.684067
1,2,1,0.330568,1.036935,0.741656,0.313140,-0.039536,0.228646,-0.163769,-0.673986,...,0.781892,-0.327822,0.134126,-1.516323,-1.046355,1.193769,-1.129568,0.358053,0.170802,0.058536
2,3,1,1.517999,1.944773,0.547879,0.903369,-1.038504,0.255990,0.260990,-1.095226,...,1.943801,-0.416260,-0.001688,-1.032244,-1.341460,0.378104,-0.964217,-0.150631,0.016354,0.207801
3,4,1,1.575186,1.954624,0.586756,1.066758,-1.248642,0.514290,0.329761,-1.018914,...,2.077819,-0.318714,-0.100669,-0.909725,-1.495553,0.425330,-0.757852,-0.281657,0.273638,0.247140
4,5,1,0.662502,1.220977,0.484884,0.448453,-1.003297,-0.025159,0.412760,-0.344257,...,1.743645,0.178988,0.838851,-1.507949,-1.492743,0.496515,-0.877890,-0.035254,0.015739,1.006729

In [39]:
# select only item_id together with embedding columns
item_embeddings = item_embs_df.drop(
    columns=["item_category"]
)

In [40]:
item_embeddings.head()

,item_id,0,1,2,3,4,5,6,7,8,...,54,55,56,57,58,59,60,61,62,63
0,1,2.121572,2.024750,1.597702,0.788839,2.076575,1.774189,0.756137,-0.362359,-2.410344,...,0.110354,-3.473590,-1.819355,-0.843890,-0.845419,3.170031,-0.963150,0.048351,-0.326054,-1.684067
1,2,0.330568,1.036935,0.741656,0.313140,-0.039536,0.228646,-0.163769,-0.673986,-2.131087,...,0.781892,-0.327822,0.134126,-1.516323,-1.046355,1.193769,-1.129568,0.358053,0.170802,0.058536
2,3,1.517999,1.944773,0.547879,0.903369,-1.038504,0.255990,0.260990,-1.095226,-0.877663,...,1.943801,-0.416260,-0.001688,-1.032244,-1.341460,0.378104,-0.964217,-0.150631,0.016354,0.207801
3,4,1.575186,1.954624,0.586756,1.066758,-1.248642,0.514290,0.329761,-1.018914,-1.132481,...,2.077819,-0.318714,-0.100669,-0.909725,-1.495553,0.425330,-0.757852,-0.281657,0.273638,0.247140
4,5,0.662502,1.220977,0.484884,0.448453,-1.003297,-0.025159,0.412760,-0.344257,-1.838396,...,1.743645,0.178988,0.838851,-1.507949,-1.492743,0.496515,-0.877890,-0.035254,0.015739,1.006729

In [41]:
# save to disk
item_embeddings.to_parquet(os.path.join(BASE_DIR, "item_embeddings.parquet"))
del(item_embeddings)

The next cell creates a second copy of the item embeddings that does not include `item_id`. This is optional but it is useful if you do not need or want to use the `item_id` values when creating a Milvus vector index.

In [42]:
# select only embedding columns
item_embeddings = item_embs_df.drop(columns=["item_category", "item_id"])
# save to disk
item_embeddings.to_parquet(os.path.join(BASE_DIR, "item_embeddings2.parquet"))
print(item_embeddings.shape)
del(item_embeddings)

(49008, 64)

Now, do a similar export for user embeddings.

In [43]:
user_embs = model_tt.query_embeddings(
    Dataset(user_features, schema=schema), batch_size=1024
)
user_embs_df = user_embs.compute(scheduler="synchronous")

In [48]:
user_embs_df.columns

Index(['user_id', 'user_age', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63'],
      dtype='object')

In [49]:
user_embs_df.shape

(7305761, 66)

In [50]:
gc.collect()

953

In [ ]:
# select only item_id together with embedding columns
user_embeddings = user_embs_df.drop(columns=['user_age'])
# save to disk
user_embeddings.to_parquet(os.path.join(BASE_DIR, "user_embeddings.parquet"))
del(user_embeddings)

# select and export only embedding columns (without the user_id column)
user_embeddings = user_embs_df.drop(columns=['user_age','user_id'])
# save to disk
user_embeddings.to_parquet(os.path.join(BASE_DIR, "user_embeddings2.parquet"))
del(user_embeddings)

In [53]:
# if the above parquet export creates OOM error on the GPU (due to large embedding table size that exceeds GPU memory), run code below to do it with CPU memory 
import pandas as pd
df = user_embs_df.to_pandas()
df.drop(columns=['user_age'], inplace=True)
# save to disk
df.to_parquet(os.path.join(BASE_DIR, "user_embeddings.parquet"))
# select only embedding columns
df2 = df.drop(columns=['user_id'])
# save to disk
df2.to_parquet(os.path.join(BASE_DIR, "user_embeddings2.parquet"))
del(df)
del(df2)

### Create feature definitions

Now we will create our user and item features definitions in the user_features.py and item_features.py files and save these files in the feature_repo.

In [54]:
file = open(os.path.join(BASE_DIR, "feature_repo/", "user_features.py"), "w")
file.write(
    """
from google.protobuf.duration_pb2 import Duration
import datetime
from feast import Entity, Feature, FeatureView, ValueType
from feast.infra.offline_stores.file_source import FileSource

user_features = FileSource(
    path="{}",
    event_timestamp_column="datetime",
    created_timestamp_column="created",
)

user_raw = Entity(name="user_id_raw", value_type=ValueType.INT32, description="user id raw",)

user_features_view = FeatureView(
    name="user_features",
    entities=["user_id_raw"],
    ttl=Duration(seconds=86400 * 7),
    features=[
        Feature(name="user_age", dtype=ValueType.INT32),
        Feature(name="user_id", dtype=ValueType.INT32),
    ],
    online=True,
    input=user_features,
    tags=dict(),
)
""".format(
        os.path.join(BASE_DIR, "feature_repo/data/", "user_features.parquet")
    )
)
file.close()

In [55]:
with open(os.path.join(BASE_DIR, "feature_repo/", "item_features.py"), "w") as f:
    f.write(
        """
from google.protobuf.duration_pb2 import Duration
import datetime
from feast import Entity, Feature, FeatureView, ValueType
from feast.infra.offline_stores.file_source import FileSource

item_features = FileSource(
    path="{}",
    event_timestamp_column="datetime",
    created_timestamp_column="created",
)

item = Entity(name="item_id", value_type=ValueType.INT32, description="item id",)

item_features_view = FeatureView(
    name="item_features",
    entities=["item_id"],
    ttl=Duration(seconds=86400 * 7),
    features=[
        Feature(name="item_category", dtype=ValueType.INT32),
        Feature(name="item_id_raw", dtype=ValueType.INT32),
    ],
    online=True,
    input=item_features,
    tags=dict(),
)
""".format(
            os.path.join(BASE_DIR, "feature_repo/data/", "item_features.parquet")
        )
    )
file.close()

Let's checkout our Feast feature repository structure.

In [56]:
# install seedir
!pip install seedir

Collecting seedir
  Downloading seedir-0.4.2-py3-none-any.whl (111 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 111 kB 18.7 MB/s eta 0:00:01
Collecting natsort
  Downloading natsort-8.3.1-py3-none-any.whl (38 kB)
Installing collected packages: natsort, seedir
Successfully installed natsort-8.3.1 seedir-0.4.2

In [57]:
import seedir as sd

feature_repo_path = os.path.join(BASE_DIR, "feature_repo")
sd.seedir(
    feature_repo_path,
    style="lines",
    itemlimit=10,
    depthlimit=3,
    exclude_folders=".ipynb_checkpoints",
    sort=True,
)

feature_repo/
â”œâ”€__init__.py
â”œâ”€data/
â”‚ â”œâ”€item_features.parquet
â”‚ â””â”€user_features.parquet
â”œâ”€feature_store.yaml
â”œâ”€item_features.py
â””â”€user_features.py

### Next Steps
We trained and exported our ranking and retrieval models and NVTabular workflows. In the next step, we will learn how to deploy our trained models into [Triton Inference Server (TIS)](https://github.com/triton-inference-server/server) with Merlin Systems library.

For the next step, move on to the `02-Deploy-Multi-Stage-Recsys-with-Merlin-Systems-Milvus.ipynb` notebook to deploy our saved models as an ensemble to TIS and obtain prediction results for a given request.